/** Yandex No-ads v21.2016.2.19, Chrome 42+, Fx 40+
 * Author: github.com/spmbt http://userstyles.org/styles/121827/, license CC-BY-NC v.4.0
 * LastUpdates: iframe of y-brow;
 */
@-moz-document regexp("https?://([^.]+\.)?yandex\.(..|com(\.tr)?).*"),domain("yandex.ru"),domain("yandex.ua"),domain("yandex.net"){
  .container__banner.container__line
  ,.headline__item.headline__leftcorner
  ,.home-arrow__promo-wrapper
  ,.stripe-universal-wrapper
  ,.head-stripe
  ,.b-top-bar__item_has_promo
  ,.b-line_bar .b-table__cell.b-line_bar__cell:not(.header_table_close)
  ,.b-head-universal-wrapper
  ,.i-bem.popup.popup_product_set
  ,.popup__content.dist-popup__content
  ,.universal-stripe-wrapper
  ,.serp-list .z-default-search.z-default-search_js_inited
  {display: none;}
  body.b-page >iframe
  {display: none!important}
  .input__samples
  ,.serp-block_type_default-search
  ,.serp-block.t-default-search
  ,.serp-adv__item,.serp-adv__head
  {display: none;}
  .serp-adv{position: absolute; left:-1200px;}

  .content__left >.competitors.competitors_js_inited{position: fixed; top: -10px; left: -36px}
  .competitors__link{display: inline-block; overflow: hidden; max-width: 2.2em; margin-left: 4px; color: #ddd;}

  .b-logo, .b-line_search2.b-line_exp_slogan .b-logo__image_bg
  {width: 38px; top: 5px;}
  .b-logo:hover{z-index: 1;}
  .m-svg .b-line_exp_button4 .button_theme_websearch .button__text
  ,.input_theme_websearch
  {background: #ddd;}

  .second{height: auto;}
  .container__search{margin-bottom: -15px;}
  .search2{width: auto; margin-bottom: 0;}
  .search2 .input{margin-bottom: 0;}

  .home-arrow__search-wrapper{margin-left: -125px;}
  .rows__row .headline, .row .headline{margin: 0; height: 0;}
  .col.headline__item.headline__bar{background: rgba(255,255,255,.5);}
  .headline .headline__item
  ,.headline-item
  ,.headline .headline__center
  {z-index: 1;}
  .col_home-logo{opacity:.1; transition: all, 1s, ease, 1s;}
  .col_home-logo:hover{opacity:1; z-index: 2;}
  .col_home-logo .covers__newyear2016_mic{top: 72px}
  .button_theme_websearch{opacity:.65;}

  /* colored ads */
  .serp-meta2.serp-meta2_type_gray
  ,div:not(.serp-item__text) +.serp-sitelinks
  ,.text.organic__text
  ,.sitelinks.organic__sitelinks
  ,.serp-url +div:not(.serp-item__text)
  ,.serp-meta
  ,.extended-meta
  ,.social-snippet2__info
  ,.serp-adv
  ,.story__group .doc .doc__content .doc__text ol
  ,.story__group .doc .doc__content .doc__text ul
  ,.story__content .story__text ol
  ,.story__content .story__text ul
  ,.story-item .document__snippet ol
  ,.story-item .document__snippet ul
  ,.serp-adv-item__label +*
  {background-color: #eee; padding: 4px 0 4px 4px; margin: -4px 0 -4px -4px;}
  .serp-item__greenurl +.text.organic__text
  {background-color: transparent;}
  .serp-adv .serp-item
  {margin-bottom: 6px;}

  /* colored forums, images, nets */
  .nav-answers.nav-answers_bno_yes
  ,.serp-item__title.z-images__head
  ,.z-images__thumbs-list
  ,.serp-sitelinks
  ,.forum.forum_type_topic
  {background-color: #eff4ee; padding: 4px 0 4px 4px; margin: -4px 0 -4px -4px;}

  /* colored market */
  .z-market
  ,.serp-item__greenurl a[href*="market.yandex.ru"]
  {background-color: #f4efef;}

  .z-video__clips
  ,.z-video__head-title
  {background-color: #efeff4; padding: 4px 0 4px 4px; margin: -4px 0 -4px -4px;}
  .serp-item.z-audio
  ,.serp-item__title a[href*="music.yandex.ru"]
  {background-color: #eff4ef; padding: 4px 0 4px 4px; margin-top: -4px; margin-right: 0; margin-left:-4px;}

  .footer.footer_distro_yes
  ,.foot__business
  ,.b-wrapper[id*="wd-_teaser"]
  ,.b-cards__enter__wrap .b-cards__enter
  ,.row .col .themes-promo__image
  ,.row .col .themes-promo__link
  ,.row .col .themes-promo
  ,.z-default-search_yabro_yes
  ,.footer-stripe
  {display:none}

  /*pochta*/
  .b-intruder__i
  ,.b-banner
  ,.b-intruder
  ,.block-informer-box .b-news
  ,.block-collectors
  ,.block-left-box +.block-folders
  ,#swiffycontainer
  ,.block-messages .b-direct.b-direct_messages
  ,.b-page .b-statusline_promo-yabrowser
  ,.mail-in-browser-line
  {display:none!important; height:0;}

  /*karty*/
  .search-result-view_direct, .search-result-view_direct__text{padding: 2px 3px; line-height: 1.14; border-width:0; background-color: #eee;}
  .search-result-view_direct._hovered, .search-result-view_direct:hover, .search-result-view_direct:active{border-width: 0}
  .search-result-view_direct._init .search-result-view_direct__title{font-size: 12px; line-height: 1.14;}
  .stores-badges-view, .home-panel-content-view_has-panorama__banner-layout, .home-panel-content-view_has-panorama__tip{display:none;}

  /*news*/body.b-page >iframe:first-child{margin-bottom:-30px!important;}
  .page-content__right .banner{display:none;}
  /*music*/.sidebar__placeholder .smalladv__item
           ,.bar__monkey
           ,.smalladv__item
           ,.smalladv__no-ads{display:none;}
  /*kartinki /images*/ iframe.direct{display: none!important;}

  /*afisha*/ .main +.direct,    .aside .direct{display:none!important;}
  /*pogoda*/ .content .adv, .info .adv, .info__more .store, .info .info__ratatuy
             ,.content .adlos.adlos_pos_top
             ,.adbca{display: none!important; position: absolute; left: -9999px; margin-left: -130%}
  .adbca *, .adbca__title a, .adbca__text_sitelinks a, .adbca__text_contacts a{color:#fff!important;}.adbca__favicon{max-height: 0}
  /*rasp*/ .index-layout__right .direct{display:none!important;}
  /*slovari*/ .b-translation +.b-rtb{display:none;}
  /*perevod*/ .footer-line_promo, .footer-promo-browser{display:none!important;}
  /*taxi*/ .island_type_city-promo{display:none!important;}
  /*fotki*/ .ns-view-ads-direct,    .ns-view-panel-box +.ns-view-ads{display:none!important;}
  /*rabota*/ .promo__inner, .content-top .promo{display:none!important;}
}
/*news (in frame)*/
@-moz-document url("javascript:name"){
  body >#container.stripe.stripe_narrow_bg-text2{display:none;}
}